
html {
    height: 100%;
    font-family: "MontserratRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

body {
    height: 100%;
    width: 90%;
    min-width: 320px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    font-size: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    display: block;
    object-fit: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.portfolio__toolbar {
    margin-bottom: 1rem;
}

.toolbar-portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -0.2rem;
}

.toolbar-portfolio__list li {
    padding: 0.2rem;
}

.toolbar-portfolio__btn {
    padding: 0.4rem 1rem;
    border: 1px solid grey;
    color: #000000;

    transition: border-color 0.3s, color 0.3s, background-color 0.8s;
}

.toolbar-portfolio__btn:hover {
    border-color: #000000;
    color: #000000;
}

.toolbar-portfolio__btn_selected,
.toolbar-portfolio__btn_selected:hover {
    color: white;
    border-color: grey;
    background-color: #000000;
}

.project-list-portfolio {
    display: flex;
    margin: -0.4rem;
}

.project-list-portfolio__column {
    flex: 0 0 33.33%;
}

.project-list-portfolio__project {
    padding: 0.4rem;
}

.project-list-portfolio__project img {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: box-shadow 0.3s ease-out;
}

.project-list-portfolio__img:hover {
    box-shadow: 0 0 5px 0 grey;
}